.container {
    max-width: 900px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.content {
    border-radius: 2px;
    padding: 18px 56px;
    margin-bottom: 80px;
}

.layout.is-small-screen .content {
    padding: 14px 42px;
}

.content h4,h5 {
    color: #000;
}

.content p {
    font-size: 15px;
    margin-bottom: 32px;
}
