


.grid-max-width {
    max-width: 900px;
    margin: auto;
}

img.card-image {
    width: 100%;
    height: auto;
}

@media (max-width: 839px) and (min-width: 480px){
    .mdl-cell--4-col, .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
        width: calc(100% - 16px);
    }
}